@media screen and (min-width: 601px) and (max-width: 1023px){
    ul{
        padding: 0;
    }
    .menu{
        padding-left: 21px;
        padding-right: 21px;
    }
    #hebergement{
        height: auto;
        flex-direction:  column-reverse;
    }

    .plus_populaire{
        margin-bottom: 20px;
        flex: 1;
        padding: 30px;
    }
  
    .hebergement_ville{
        width: 100%;
    }
    #activite{
        height: 800px;
    }
    .carte_activite{
        align-content: space-around;
    }
    .lien_activite{
        max-width: 350px;
        width: 48%;
    }
}