@media screen and (max-width: 600px){
    body{
        padding: 5px;
    }
    .header{
        flex-flow:column wrap ;
        position: relative;
        padding: 0;
    }

    .header_titre{
        flex: 1;
    }

    .header_inscription{
        flex: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    .header_nav{
        width: 100vw;
    }

    .header_nav ul{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    
    .header_nav li{
        width: 50vw;
        margin: 0;
        
    }

    .header_nav .menu{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }

    .menu:hover{
        border-bottom:#0065FC solid 3px;
        border-top: none;
    }

    .recherche_ville{
        padding: 0;
    }

    .but_normal{
        display: none;
    }
    .but_mobile{
        position: relative;
        right: 20px;
        display: initial;
        border-radius: 15px;
        color: white;
    }

    .filtre{
        flex-wrap: wrap;
    }

    .filtre p{
        width: 100%;
    }
    .but_filtre{
        margin: 10px 10px 10px 0;
    }
   

    #hebergement{
        flex-direction: column-reverse;
        padding: 0%;
    }

    .plus_populaire{
        width: 100%;
        margin-bottom: 25px ;
        padding: 8px;
    }
    .plus_pop_box-titre{
        padding-top: 10px;
    }
    .lien_carte_pop{
        height: 100px;
    }

    .hebergement_ville{
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    .lien_carte{
        width: 100%;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px #F2F2F2 ;
    }

    #activite{
        height: auto;
        padding: 0;
        margin-bottom: 15px;
    }
    .titre_activite{
        margin-left: 0;
    }

    .carte_activite{
        flex-direction: row;
        margin-bottom: 15px;
        
    }

    .lien_activite{
        width: 100%;
        max-height: 200px!important;
        margin-bottom: 15px;
    }

    footer{
        flex-direction: column;
    }
    footer div{
        margin: 15px 0 25px 15px;
    }













    
}
