@font-face{
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.ttf') format('truetype');
}
 body{
    font-family: 'Raleway';
}

html, body{
    font-size: 20px;
}

.bolt{
    font-weight: bold;
}

.inscription{
    color : #0065FC;
    text-decoration: none;
}

#logo{
    width: 3em;
    height: 1.5em;
}

ul{
    list-style-type: none;
    margin-top: 3em;
}

li{ 
    display: inline;
    margin-left: 4em;
}

.menu, a {
    text-decoration: none;
    color: black;
}

 ul , li {
    margin-top: auto;
    padding-top: 3em;
}

.menu:hover{
    color: #0065FC;
    font-weight: bold;
}

li:hover{
    border-top: #0065FC solid 3px;
}

.header{
    display: flex;
}

.header_titre{
    flex: 1;
}

.header_inscription{
    order: 3;
    margin-left: 4em;
    margin-top: 3em;
}
.header_nav{
    order: 2;
}

.recherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center ;
    margin: 20px 0;
}

.recherche i{
    background-color:  #F2F2F2 ;
    border-radius: 15px 0px 0px 15px;
    border: #F2F2F2 solid 2px;
    width: 60px;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
}

.input_recherche{
    border: #F2F2F2 solid 2px;
    width: 250px;
    height: 50px;
    font-size: 1.2em;
    padding-left: 10px;
}

.button_recherche{
    background-color: #0065FC;
    border: 1px #0065FC solid ;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
    height: 50px;
    font-size: 1.2em;
    color: white;
}

.filtre{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
} 

.but_filtre p{
    margin: 0 40px;
    border: 4px #F2F2F2 solid;
    border-left: transparent;
    border-radius: 30px;
    padding-right: 20px;
}
.but_filtre p:hover{
    box-shadow: 10px 10px 8px  #0065FC;
    color:  #0065FC;
}
    /* couleur et couleur de fond des font Awesome */
.color_b{
    color:#0065FC;
    background-color:  #DEEBFF;
    border-radius: 30px;
    padding: 19px;
}

.info_recherche{
    font-size: 0.8em;
}
.info_recherche i{
    color: #0065FC;
    padding: 5px;
    border-radius: 10px;
    border:2px #F2F2F2 solid  ;
    margin: 10px 10px;
 }

.hebergement{
    display: flex;
    justify-content: center;
}

.titre_heber{
    width: 100%;
}

.hebergement_ville{
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 10px;
    background-color :#F2F2F2;
    margin-right: 2em;
}

.plus_populaire{
    padding: 1em;
    border-radius: 10px;
    background-color :#F2F2F2;
}

.titre_pluspop{
    display: inline-block;
    position: relative;
    text-align: left;
    width: 90%;
}

.right{
    display: inline-block;
    position: relative;
    text-align: right;
    font-size: 1.5em;
}

.lien_carte{
    width: 30%;
    height: 20%;
    margin: 1em;
}

.carte{
    border: black 1px solid;
    margin: 1em;
    background-color: white;
    padding: 0.5em;

}



.aff_plus{
    width: 100%;
}

.activite{
    display: flex;
    flex-wrap: wrap;
}
.activite_ville{
    width: 100%;
}

.carte_act{
    width: 20%;
}


footer{
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background-color :#F2F2F2;
}