
/*   generale      */
@font-face{
    font-family: 'Raleway';
    src: url('../font/Raleway-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    box-sizing: border-box;
}
 body{
    font-family: 'Raleway';
    margin: auto;
    padding: 0 20px;
    max-width: 1400px;
    width: 100%;
}

.bolt, h3, h2{
    font-weight: bold;
}

/* section header */
.inscription{
    color : #0065FC;
    text-decoration: none;
    font-size: 16px;
}

#logo{
    margin-top: 20px;
    width: 4em;
    height: 2em;
}

ul{
    list-style-type: none;
    height: 100%;
}

li{ 
    display: inline;
    height: 100%;
}

.menu{
    font-size:16px;
    padding: 50px 30px 30px ;
    width: 100%;
    height: 100%;
}

.menu, a {
    text-decoration: none;
    color: black;
}


.menu:hover{
    color: #0065FC;
    font-weight: bold;
    border-top: #0065FC solid 3px;
}

.header{
    display: flex;
    margin-bottom: 30px;
    padding: 0 20px;
    align-items: baseline;
}

.header_titre{
    flex: 1;
}

.header_inscription{
    order: 3;
    margin-left: 4em;
    margin-top: 3em;
}
.header_nav{
    order: 2;
}

/*  section Recherche  */
.recherche_ville{
    padding: 0 20px;
}
.recherche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px 0;
}

.recherche_ville h2{
    font-size: 20px;
}

.icone_position{
    background-color:  #F2F2F2 ;
    border-radius: 15px 0px 0px 15px;
    border: #F2F2F2 solid 2px;
    font-size: 1.2em;
    text-align: center;
    padding: 14px;
}

.input_recherche{
    border: #F2F2F2 solid 2px;
    padding: 14px;
    height: 50px;
    font-size: 16px;
    min-width: 200px;
}

.but_mobile{
    display: none;
}

.button_recherche{
    background-color: #0065FC;
    border: 1px #0065FC solid ;
    border-radius: 0 15px 15px 0;
    padding: 12px;
    height: 50px;
    font-size: 16px;
    color: white;
}

.filtre{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin: 15px 0;
}
.but_filtre{
    margin: 10px 40px;
}

.but_filtre p{
    border: 4px #F2F2F2 solid;
    border-left: transparent;
    border-radius: 30px;
    padding-right: 20px;
}
.but_filtre p:hover{
    box-shadow: 5px 5px 5px  #0065FC;
    color:  #0065FC;
    font-size: 16px;
}
    /* couleur et couleur de fond des font Awesome */
.color_b{
    color:#0065FC;
    background-color:  #DEEBFF;
    border-radius: 56px;
    padding: 20px;
    margin-right: 10px;
}
.fa-child{
    padding-left: 23px;
    padding-right: 23px;
}
.fa-money-bill-wave{
    padding-left: 18px;
    padding-right: 18px;
}

.info_recherche{
    font-size: 16px;
}
.info_recherche i{
    display: inline-block;
    padding: 5px 9px;
    color: #0065FC;
    border-radius: 15px;
    border:2px #F2F2F2 solid;
    text-align: center;
 }

/*  section Hebergement   / ville*/

#hebergement{
    display: flex;
    flex-flow: row;
    height: auto;
    margin: 30px 0;
    padding: 0 20px;  
}

.hebergement_ville{
    display: flex;
    flex: 5;
    flex-flow: row wrap;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color :#F2F2F2;
    margin-right: 30px;
    justify-content: space-between;
    align-content: space-between;
}

.titre_heber{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.lien_carte{
    width: 30%;
    height: 35%;
    margin: 5px;

}

.carte{
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 200px;
}
.carte h3{
    font-size: 14px;
    padding-left: 10px;
}
/*nuit par prix*/
.carte p:nth-child(3){
    font-size: 12px;
    padding-left: 10px;

}
.carte i{
    font-size: 12px;
}
.note{
    padding-left: 10px; 
}
.conteneur_image{
    width: 100%;
    height: 60%;    
    margin-bottom: 15px;
}
.image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}


.aff_plus{
    margin: 20px 0;
    width: 100%;
    font-size: 1.2em;
}

.etoile_bleu{
    color: #0065FC;
}
.etoile_gris{
    color: #F2F2F2;
}

/* section hebergement plus populaire*/

.plus_populaire{
    display: flex;
    height: auto;
    flex: 2;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background-color :#F2F2F2;
}

.plus_pop_box-titre{
    display: flex;
}

.titre_pluspop{
    flex: 1;
    margin-bottom: 30px;
    font-size: 18px;
}


.icon_pop_right{
    font-size: 18px;
}

.lien_carte_pop{
    width: 100%;
    height: 125px;
    margin-bottom: 20px;
}

.carte_pop{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    height: 100%;
}
.carte_pop h3{
    padding-top: 10px;
    font-size: 16px;
}
.carte_pop p{
    font-size: 12px;
}
.carte_pop i{
    font-size: 12px;
}

.conteneur_image_pop{
    width: 38%;
    height: 100%;
    margin-right: 15px;
}
.image_pop{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px 0 0 15px  ;
}
.note_pop{
    margin-top: auto;
}

/*   section activite   */
#activite{
    width: 100%;
    height: 400px;
    margin-bottom: 80px;
    padding: 0 20px;
}
.carte_activite{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 60px;
}

.titre_activite{
    margin: 20px;
}

.lien_activite{
    position: relative;
    width: 23%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px #F2F2F2 ;
}
.carte_activite{
    height: 100%;
}
.conteneur_image_activite{
    height: 100%;
    width: 100%;
}
.carte_activite h3{
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background-color: #ffffff;
    padding: 10px 10px 10px 25px ;
    width: 100%;
    height: 40px;
}
.image_activite{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.lien_activite:nth-child(1){
    height: 400px;
}
.lien_activite:nth-child(2){
    height: 220px;
}
.lien_activite:nth-child(3){
    height: 150px;
}

.lien_activite:nth-child(4){
    height: 400px;
}
.lien_activite:nth-child(5){
    height: 160px;
}
.lien_activite:nth-child(6){
    height: 200px;
}



/*   section footer   */

footer{
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color :#F2F2F2;
}
footer div{
    margin-right: auto;
    padding:10px;
    font-size: 14px;
    line-height: 1.8em;
}
